:root {
  --clippy: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.LOGO-Animation {
  animation-timeline: scroll(root block);
  animation-name: tracking-out-contract;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  font-family: "Poppins", sans-serif;
  font-size: 65px;
  margin-left: 55%;
  margin-top: 14%;
  max-width: 500px;
  color: #5A639C;
  text-shadow: 3px 3px 3px black;
}

.Eslogan-Animation {
  animation-timeline: scroll(root block);
  animation-name: tracking-out-contract;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  margin-left: 55%;
  color: #E2BBE9;
  text-shadow: 1px 1px 2px black;
}

.LOGO-Animation::before {
  content: "";
  display: block;
  background-color: #E2BBE9;
  position: absolute;
  width: 110%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  font-family: "Poppins", sans-serif;
  clip-path: var(--clippy);
  transition: clip-path 1s;
}

.Eslogan-Animation::before {
  content: "";
  display: block;
  background-color: #9B86BD;
  position: absolute;
  width: 68%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: "Poppins", sans-serif;
  z-index: -1;
  clip-path: polygon(0 0, 99% 0, 99% 100%, 0 100%);
  transition: clip-path 1s;
}

.LOGO-Animation:hover::before {
  clip-path: polygon(0 0, 85% 0, 99% 100%, 0 100%);
}

.Eslogan-Animation:hover::before {
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

@keyframes tracking-out-contract {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  20% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 0;
    transform: translateX(-100px);
  }

}

@media (max-width: 1544px) {
  .LOGO-Animation {
    font-size: 50px;
    margin-left: 50%;
    margin-top: 10%;
  }

  .Eslogan-Animation {
    font-size: 25px;
    margin-left: 50%;
  }

  .LOGO-Animation::before {
    width: 84%;
  }

  .Eslogan-Animation::before {
    width: 90%;
  }

}

@media (max-width: 1024px) {
  .LOGO-Animation {
    font-size: 40px;
    margin-left: 45%;
    margin-top: 10%;
  }

  .Eslogan-Animation {
    font-size: 20px;
    margin-left: 45%;
  }

  .LOGO-Animation::before {
    width: 70%;
  }
}

/* Media Queries para Móviles */
@media (max-width: 768px) {
  .LOGO-Animation {
    font-size: 27px;
    margin-left: 45%;
    margin-top: 8%;
  }

  .Eslogan-Animation::before {
    width: 85%;
  }

  .Eslogan-Animation {
    font-size: 10px;
    /* Ajusta el tamaño de la fuente */
    margin-left: 46%;
    /* Ajusta la posición del margen */
  }

  @keyframes tracking-out-contract {
    0% {
      opacity: 1;
      transform: translateX(0px);
    }

    3% {
      opacity: 0;
      transform: translateX(-100px);
    }

    100% {
      opacity: 0;
      transform: translateX(-100px);
    }

  }
}